/********** Base **********/

@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --gray: hsl(36, 14%, 93%);
    --dark-gray: hsl(0, 0%, 62%);
    --dark-brown: hsl(44, 14%, 31%);
}

body {
    font-family: Cabin, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--dark-brown);
    background-color: var(--gray);
}

p {
    max-width: 70ch;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/********** Utilities **********/

.hidden {
    display: none;
}

.p-container {
    padding: 0 15px;
}

/********** Header **********/

.offer-container {
    background-color: var(--black);
    padding: 15px 30px;
    margin: 0 0 25px;
}

.offer {
    margin: 0 auto;
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.offer--underline {
    text-decoration: underline;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logo {
    font-size: 1.3em;
}

.logo__link {
    text-decoration: none;
    color: var(--black);
}

.nav-large {
    display: none;
}

.nav-small__list {
    font-size: 1.2em;
    text-align: center;
    list-style-type: none;
    font-weight: 700;
    line-height: 2.6em;
    padding: 0 0 30px;
}

.nav__button {
    padding: 3px 20px;
    margin-top: 12px;
    font-size: 1em;
    color: var(--white);
    background-color: var(--black);
    border-radius: 5px;
    font-weight: 600;
}

/********** Main **********/

/* Intro */

.intro__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.intro__title {
    color: var(--black);
    font-size: 2.3em;
}

.intro__description {
    font-size: 1.1em;
    line-height: 1.5em;
}

.intro__list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 25px;
}

.intro__list-item {
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.7em;
}

.checkmark {
    vertical-align: text-bottom;
    padding-right: 10px;
}

.intro__signup {
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.intro__email {
    padding: 15px;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    color: var(--dark-gray);
    font-size: 1.2em;
    flex-grow: 1;
    max-width: 500px;
}

.intro__button {
    padding: 16px;
    font-size: 1.2em;
    color: var(--white);
    background-color: var(--black);
    border-radius: 5px;
    min-width: 125px;
}

/* Partners */

.partners__container {
    background-color: var(--white);
}

.partners {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}

.partners__logo {
    max-width: 130px;
}

.partners__pinterest-logo {
    display: none;
}

.partners__twitter-logo {
    display: none;
}

.partners__reddit-logo {
    display: none;
}

.partners__google-logo {
    display: none;
}

.partners__slack-logo {
    display: none;
}

/* Payments */

.payments {
    background-color: var(--white);
}

.payments__container {
    background-color: var(--gray);
    padding: 30px 30px 0;
    border-radius: 7px;
}

.payments__title {
    color: var(--black);
    font-size: 2.3em;
}

.payments__description {
    font-size: 1.1em;
    line-height: 1.5em;
}

.payments__link-container {
    margin: 0 0 40px;
}

.payments__link {
    color: var(--dark-brown);
    font-weight: 600;
    font-size: 1.2em;
}

.payments__image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Editor */

.editor {
    background-color: var(--white);
}

.editor__title {
    color: var(--black);
    font-size: 2.3em;
    margin: 0 0 10px;
    padding-top: 40px;
}

.editor__description {
    font-size: 1.1em;
    line-height: 1.5em;
}

.editor__link-container {
    margin-bottom: 30px;
}

.editor__link {
    color: var(--dark-brown);
    font-weight: 600;
    font-size: 1.2em;
}

.editor__image-container {
    padding-bottom: 20px;
}

.editor__image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/********** Footer **********/

.footer {
    background-color: var(--black);
}

.footer__container {
    color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__logo-link {
    color: var(--white);
}

.footer__description {
    font-size: 1.1em;
    line-height: 1.5em;
    color: var(--dark-gray);
    margin: 0 0 30px;
}

.footer__list-title {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.footer__list {
    list-style-type: none;
    padding-left: 0;
}

.footer__list-item {
    font-size: 1.1em;
    line-height: 1.7em;
    color: var(--dark-gray);
}

.footer__link {
    text-decoration: none;
    color: inherit;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 720px) {

/********** Utilities **********/ 

.p-container {
    padding: 0 30px;
}
    
/********** Header **********/

.nav-large {
    display: block;
    width: 500px;
}

.nav__btn {
    display: none;
}

.nav__list {
    display: flex;

}

.nav__list {
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

/********** Main **********/

/* Intro */

.intro__signup {
    max-width: 400px;
}

.intro__title {
    max-width: 500px;
    font-size: 3.2em;
    margin-bottom: 0;
}

.intro__img {
    max-width: 650px;
}

/* Partners */

.partners__pinterest-logo {
    display: block;
}

@media only screen and (min-width: 850px) {

.partners__twitter-logo {
        display: block;
    }
}

.partners {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Payments */

.payments__container {
    padding-top: 80px;
}

.payments__title {
    margin-top: 0;
    max-width: 350px;
    margin-bottom: 8px;
}

.payments__description {
    max-width: 500px;
}

/* Editor */

.editor__image-container {
    padding-bottom: 0;
}

/********** Footer **********/

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__container {
    display: grid;
    grid-template-columns: 52% 48%;
    column-gap: 40px;
}

.footer__logo {
    margin-top: 0;
}

.footer__nav {
    display: block;
    display: flex;
    gap: 80px;
}

.footer__nav-1 {
    order: 3;
}

.footer__nav-2 {
    order: 2;
}

}

@media only screen and (min-width: 1200px) {

/********** Utilities **********/

.p-container {
    padding: 0 150px;
}

.mw-container {
    max-width: 1660px;
}

/********** Header **********/

.offer {
    max-width: 100%;
}

.header-container {
    margin: 0 auto 25px;
}

.nav-large {
    width: 65%;
}

.nav__list {
    gap: 40px;
}

.nav__item-4 {
    margin-left: auto;
}

.intro__button {
    font-size: 1.1em;
    width: 127px;
}

/********** Main **********/

/* Intro */

.intro {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.intro__hero {
    order: 2;
}

.intro__text-content {
    order: 1;
    align-self: center;
}

.intro__description {
    max-width: 50ch;
}

.intro__img {
    max-width: 100%;
}

/* Partners */

@media only screen and (min-width: 1250px) {

    .partners__reddit-logo {
        display: block;
    }

}

@media only screen and (min-width: 1400px) {
    .partners__google-logo {
        display: block;
    }
}

@media only screen and (min-width: 1600px) {
    .partners__slack-logo {
        display: block;
    }
}

.partners {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

/* Payments */

.payments__container {
    margin: 0 auto;
    max-width: 1360px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    padding: 50px 75px 0;

}

.payments__text-content {
    align-self: center;
}

.payments__image-container {
    align-self: flex-end;
}

/* Editor */

.editor__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1360px;
}

.editor__text-content {
    order: 2;
    align-self: center;
}

.editor__image-container {
    order: 1;
}

/********** Footer **********/

.footer__container {
    grid-template-columns: 4fr 1fr 2fr;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 70px;
    margin: 0 auto;
    max-width: 1360px;
}

.footer__company-info {
    max-width: 400px;
}

}